body {
	width: 100%;
}

.container {
	padding: 5px 20px 10px 5px;
}

.canvas {
	margin: 20px 5px;	
	border: 1px solid gray;
	box-shadow: 3px 3px 10px gray;
	border-radius: 1%;
	width: 100%;
}

.control-container {
	margin: 10px 5px;	
}
